*.ckpt
*.pt
*.pth
output/
outputs/
plots/
data/
.ipynb_checkpoints/
__pycache__/
experiment_results/
logs/
dynamask/data/
dynamask/winit_paper_results/
*.pkl
*.pt
*.txt
*.csv
*.pdf
*.png
*.jpg
*.gz
*.npy
*.npz
*.json
.idea/
winit.egg-info/
*.pyc
# Python bytecode
__pycache__/
*.py[cod]
*$py.class