# in config/cltts.yaml
data_gen: true
train: true
pointwise_xai_flag: true
pairwise_xai_flag: true

dataset:
  name: cltts
  all_times: False
  num_samples: 400
  seq_len: 50         # T
  window_size: 5 # max_lag
  autocorr_coeff: 0.5   # gamma
  cross_coeff: 0.5       # alpha
  noise: 0.8            
  label_mode: "cltts_trend" # cltts_trend, cltts_mean
  trend_window_size: 15
  # periodic_1: None
  # periodic_2: None


models:
  - name: transformer
    d_model: 64
    layers: 2

  # - name: lstm
  #   hidden: 64
  #   layers: 2


training:
  batch_size: 32
  epochs: 200

experiment:


evals:
  loc@k: 5

# ============================
# Pointwise XAI (first-order)
# ============================
pointwise:
  explainer:
    name: ig
    params:
      baseline: zero
      steps: 50
  evals:
    baseline: zero
    k_list: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8]

# ============================
# Pairwise XAI (second-order)
# ============================
pairwise:
  batch_size: 32
  tau_max: 25
  interaction_method:
    name: ih
    params:
      baseline: zero
  evals:
    delta: 1e-5




sweeps:
  baseline:
    dataset.noise: [0.1]
    dataset.cross_coeff: [0.2]
    dataset.autocorr_coeff: [0.5]
    pairwise.interaction_method.name: [ih]  
    pointwise.explainer.name: [ig]
    pointwise.explainer.params.steps: [50]


  noise_sweep:
    sweep:
      dataset.noise: [0.05, 0.1, 0.2, 0.4]

  cross_coeff_sweep:
    dataset.cross_coeff: [0, 0.2, 0.8]

  autocorr_coeff_sweep:
    dataset.autocorr_coeff: [0.5, 0.95]

  transformer_width:
    when:
      model.name: transformer
    sweep:
      model.d_model: [8, 16, 32]

  lstm_hidden:
    when:
      model.name: lstm
    sweep:
      model.hidden: [8, 16, 32]

  interaction_method_sweep:
    sweep:
      pairwise.interaction_method.name: [ih, sti]

  pointwise_xai_sweep:
    sweep:
      pointwise.explainer.name: [ig, deeplift, gradshap] #svs

  sti_num_permutations:
    when:
      pairwise.interaction_method.name: sti
    sweep:
      pairwise.interaction_method.params.num_permutations: [25]
