# in config/var.yaml
data_gen: true
train: true
pointwise_xai_flag: true
pairwise_xai_flag: true

dataset:
  name: var_local
  all_times: False

  num_samples: 400
  num_series: 3        # D
  seq_len: 50         # T
  a1: 0.8     # default
  noise: 0.1           # default
  split_ratio: 0.8


models:
  - name: transformer
    d_model: 64
    layers: 2

  # - name: lstm
  #   hidden: 64
  #   layers: 2


training:
  batch_size: 32
  epochs: 200


evals:
  loc@k: 5

# ============================
# Pointwise XAI (first-order)
# ============================
pointwise:
  explainer:
    name: ig
    params:
      baseline: zero
      steps: 50

# ============================
# Pairwise XAI (second-order)
# ============================
pairwise:
  batch_size: 32
  tau_max: 25
  interaction_method:
    name: ih
    params:
      baseline: zero





sweeps:
  baseline:
    dataset.a1: [0.8]
    dataset.noise: [0.1]
    pairwise.params.num_permutations: [20]
    pointwise_xai.explainer.name: [ig]

  noise_sweep:
    sweep:
      dataset.noise: [0.05, 0.1, 0.2, 0.4]

  a1_sweep:
    dataset.a1: [0.05, 0.1, 0.2, 0.4, 0.8]

  transformer_width:
    when:
      model.name: transformer
    sweep:
      model.d_model: [8, 16, 32]

  # lstm_hidden:
  #   when:
  #     model.name: lstm
  #   sweep:
  #     model.hidden: [8, 16, 32]

  interaction_method_sweep:
    sweep:
      pairwise.interaction_method.name: [ih, sti]

  pointwise_xai_sweep:
    sweep:
      pointwise.explainer.name: [ig, deeplift, gradshap] #svs

  sti_num_permutations:
    when:
      pairwise.interaction_method.name: sti
    sweep:
      pairwise.interaction_method.params.num_permutations: [25]
